@import "../../styles/colors.scss";

.linkitem {
    font-family: Arial, Helvetica, sans-serif;
    color: $primaryColor;
    text-decoration: none;
    font-size: 0.875rem;

    &:hover {
        color: $secondaryColor;
    }
}