@import "../../styles/colors.scss";

$tagColor: rgba(26, 26, 26, 0.5);

.itemcard {
    width: 100%;
}

.itemcard-img {
    width: 100%;
}

.itemcard-tag {
    position: absolute;
    top: 3.1rem;
    left: -3.1rem;
    width: 8rem;
    height: 1.25rem;
    text-align: right;
    font-weight: 100;
    padding-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: $tagColor;
    text-transform: uppercase;
    background-color: $backgroundColor;
    transform: rotate(270deg); 
}

.itemcard-title {
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: $primaryColor;
    margin: 1.75rem 0rem;
    line-height: 1.5rem;;
    min-height: 3rem;
}

.itemcard-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: $secondaryColor;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}