@import "../../styles/colors.scss";

$tagColor: rgba(26, 26, 26, 0.5);

.picture-img {
    width: 100%;
}

.picture-tag {
    position: absolute;
    top: 3.1rem;
    left: -3.1rem;
    width: 8rem;
    height: 1.25rem;
    text-align: right;
    font-weight: 100;
    padding-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    color: $tagColor;
    text-transform: uppercase;
    background-color: $backgroundColor;
    transform: rotate(270deg); 
}