@import "../../styles/colors.scss";

.detailpage {
    padding-bottom: 3rem;
}

.detailcontent {
    display: block;
    position: relative;
    padding-left: 6rem;
    width: calc(100%-6rem);
}

.dtlTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin: 2rem 0rem;
    color: $primaryColor;
    word-wrap: break-word;
}

.dtlSubtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: $primaryColor;
    word-wrap: break-word;
    margin: 0rem;
}

.dtlQuestion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    margin: 2rem 0rem;
    color: $primaryColor;
    word-wrap: break-word;
    margin: 0rem 0rem 2rem;
    line-height: 1.5;
}